<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>JaMovies</title>
    
    <script src="https://kit.fontawesome.com/5a4e9adce5.js" crossorigin="anonymous"></script>
</head>
<body>
<h1 id="title">Connect the Movies!</h1>

<div id="comparisonContainer">

    <div class="movieColumn">
        <div class="searchBar">
            <div class="searchInputWrapper">
                <input type="text" id="movieSearcherOne" placeholder="Search for a movie...">
                <button onclick="searchMovie('movieSearcherOne','resultsOne','movieOneTitle', 'movieOnePoster', 'selectedOne')"><i class="fa-solid fa-magnifying-glass"></i></button>
                <div id="resultsOne" class="searchDropdown"></div>
            </div>
        </div>
        <div id="selectedOne"></div>
    </div>

    <div class="movieColumn">
        <div class="searchBar">
            <div class="searchInputWrapper">
                <input type="text" id="movieSearcherTwo" placeholder="Search for a movie...">
                <button onclick="searchMovie('movieSearcherTwo','resultsTwo','movieTwoTitle', 'movieTwoPoster', 'selectedTwo')"><i class="fa-solid fa-magnifying-glass"></i></button>
                <div id="resultsTwo" class="searchDropdown"></div>
            </div>
        </div>
        <div id="selectedTwo"></div>
    </div>

</div>

<div class="extra">
    <a href="/connections" class="nav-link">View All Connections</a>
</div>

<form id="connectionForm" method="post">
    <input type="hidden" name="movie_one_title" id="movieOneTitle">
    <input type="hidden" name="movie_two_title" id="movieTwoTitle">
    <input type="hidden" name="movie_one_poster" id="movieOnePoster">
    <input type="hidden" name="movie_two_poster" id="movieTwoPoster">

    <fieldset>
        <legend>Step 1: How are they connected?</legend>
        
        <div>
            <input type="checkbox" id="narrative" name="narrative_check">
            <label for="narrative">Narrative Structure</label>
        </div>

        <div>
            <input type="checkbox" id="theme" name="theme_check">
            <label for="theme">Theme</label>
        </div>

        <div>
            <input type="checkbox" id="archetype" name="archetype_check">
            <label for="archetype">Character Archetype</label>
        </div>

        <div>
            <input type="checkbox" id="other" name="other_check">
            <label for="other">Other (please specify in your explanation!)</label>
        </div>
    
    </fieldset>

    <fieldset>
        <legend>Step 2: Explain their connection!</legend>
        <textarea name="connection_explanation" id="connectionExplanation" placeholder="Type here..."></textarea>
    </fieldset>

    <button type="submit" id="submitConnection">Submit Connection</button>
</form>

<script src="/static/main.js"></script>

</body>
</html>
