<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Jamovies</title>
    
    <script src="https://kit.fontawesome.com/5a4e9adce5.js" crossorigin="anonymous"></script>
</head>
<body>
<h1 id="title">Connect the Movies!</h1>

<div id="comparisonContainer">

    <div class="movieColumn">
        <div class="searchBar">
            <input type="text" id="movieSearcherOne" placeholder="Search for a movie...">
            <button onclick="searchMovie('movieSearcherOne','resultsOne','movieOneData')"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div id="resultsOne"></div>
    </div>

    <div class="movieColumn">
        <div class="searchBar">
            <input type="text" id="movieSearcherTwo" placeholder="Search for a movie...">
            <button onclick="searchMovie('movieSearcherTwo','resultsTwo','movieTwoData')"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div id="resultsTwo"></div>
    </div>

</div>

<form id="connectionForm" method="post">
    <input type="hidden" name="movie_one" id="movieOneData">
    <input type="hidden" name="movie_two" id="movieTwoData">

    <fieldset>
        <legend>Step 1: How are they connected?</legend>
        
        <div>
            <input type="checkbox" id="narrative" name="narrative_check">
            <label for="narrative">Narrative Structure</label>
        </div>

        <div>
            <input type="checkbox" id="theme" name="theme_check">
            <label for="theme">Theme</label>
        </div>

        <div>
            <input type="checkbox" id="archetype" name="archetype_check">
            <label for="archetype">Character Archetype</label>
        </div>

        <div>
            <input type="checkbox" id="other" name="other_check">
            <label for="other">Other (please specify in your explanation!)</label>
        </div>
    
    </fieldset>

    <fieldset>
        <legend>Step 2: Explain their connection!</legend>
        <textarea name="connection_explanation" id="connectionExplanation" placeholder="Type here..."></textarea>
    </fieldset>

    <button type="submit" id="submitConnection">Submit Connection</button>
</form>

    <script src="/static/config.js"></script>

    <script>
        function searchMovie(inputID, divID, hiddenID){
            const query = document.getElementById(inputID).value
            console.log("I want THIS movie:", query)

            const options = {
                method: 'GET',
                headers: {
                    accept: 'application/json',
                }         
            };

            fetch('/search?query=' + query, options)
                .then(res => res.json())
                .then(res => { 
                    let year = res.results[0].release_date.slice(0,4);
                    document.getElementById(divID).innerHTML = "<h2>" + res.results[0].title + " (" + year + ")" + "</h2>" +
                    "<img src='https://image.tmdb.org/t/p/w500" + res.results[0].poster_path + "'>";

                    document.getElementById(hiddenID).value = res.results[0].title + " (" + year + ")";
                })
                .catch(err => console.error(err));
            }

    </script>

</body>
</html>
